@charset "UTF-8";
.main-header {
  position: relative;
  background: #fff;
  z-index: 999;
  border-bottom: 1px solid #ededed;
}
.main-header .wrap-logo h1, .main-header .wrap-logo a {
  font-size: 32px;
  font-weight: bold;
  color: #2e2d2d;
  margin: 0;
}

.top-bar {
  padding: 8px 0;
  font-size: 13px;
  text-align: center;
}
.top-bar p {
  margin: 0;
}

.top-bar-template-header-01 {
  background: #000080;
  color: #fff;
}

.main-header-template-01 .flexContainer {
  position: relative;
}
.main-header-template-01 .flexContainer .header-logo {
  padding: 0 15px;
  max-width: 20%;
  min-width: 180px;
}
.main-header-template-01 .flexContainer .header-menu {
  padding: 0 15px;
}

.menu-desktop {
  position: relative;
}

.main-nav {
  backface-visibility: hidden;
}
.main-nav ul {
  padding-left: 0;
  margin: 0;
}
.main-nav ul.level0 li a {
  color: #2e2d2d;
}
.main-nav ul li {
  position: relative;
  display: inline-block;
}
.main-nav ul li a {
  display: block;
  font-size: 17px;
  padding: 25px 0;
  margin: 0 15px;
  position: relative;
  color: #333333;
}
.main-nav ul li a i {
  display: inline-block;
  vertical-align: middle;
  font-size: 9px;
  margin-left: 4px;
  margin-bottom: 2px;
}
.main-nav ul li a:hover {
  color: #b5f1b8;
}
.main-nav ul li .sub-menu {
  background: #fff;
  position: absolute;
  top: 130%;
  margin-top: 0;
  z-index: 999;
  min-width: 150px;
  margin-top: 30px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  transform-origin: 0 0 0;
  transition: all 0.5s ease;
}
.main-nav ul li .sub-menu a {
  padding: 9px 18px;
  white-space: nowrap;
  text-align: left;
  display: block;
  font-size: 14px;
}
.main-nav ul li:hover .sub-menu.level1 {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
  top: 100%;
}

.main-nav .sub-menu.level2 {
  margin-top: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 130%;
  top: 0;
}

.main-nav li:hover > .sub-menu.level2 {
  left: 100%;
  opacity: 1;
  visibility: visible;
}

.main-nav ul > li:hover > a i {
  transform: rotate(180deg);
  margin-bottom: 0;
}

/* css home page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  border: 0;
  background-color: #fff;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  color: #333;
  overflow-x: hidden;
  background: #fff;
  position: initial !important;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, select {
  text-transform: none;
}

header, main, footer, section, nav {
  display: block;
}

.container-fluid {
  max-width: 1600px;
  padding: 0 85px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid:before, .container-fluid:after, .clearfix:before, .clearfix:after, .container:before, .container:after, .row:before, .row:after {
  display: table;
  content: " ";
}

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both;
}

:after, :before {
  box-sizing: border-box;
}

.rowFlexMargin {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px;
}

.flexAlignCenter {
  align-items: center;
}

.rowFlexMargin.flexContainer {
  justify-content: space-between;
  flex-flow: row nowrap;
}

h2 {
  font-size: 28px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #252a2b;
  line-height: 1.1;
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: #252a2b;
  margin: 0 0 13px 0;
  font-weight: 500;
  line-height: 1.2;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #2a7d2e;
}

a {
  color: #333333;
  text-decoration: none;
  outline: none;
  background-color: transparent;
}

a:hover, a:focus {
  color: #2a7d2e;
}

.text-center {
  text-align: center;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.main-header-template-01 .flexContainer .header-wrap-icon {
  padding: 0 15px;
}

.main-header-template-01 .header-wrap-icon, .main-header-template-02 .header-wrap-icon {
  justify-content: flex-end;
}

.header-wrap-icon {
  display: flex;
}

.header-wrap-icon .header--icon {
  display: flex;
  align-items: center;
  margin: 0 0 0 10px;
  transition: opacity 150ms linear;
}

.header-wrap-icon .header--icon .link-box {
  display: block;
  position: relative;
}

.header-wrap-icon .header--icon .link-box .icon-box {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
}

.main-header-template-01 .header-wrap-icon .header--icon .link-box .icon-box i {
  fill: #2e2d2d;
  color: #2e2d2d;
}

.header-wrap-icon .header--icon .link-box .icon-box i {
  fill: #252a2b;
  width: 20px;
  line-height: 30px;
}

.bottom-footer {
  background: #F5F5F5;
  padding: 20px 0;
}

.container {
  width: 1190px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bottom-footer p, .bottom-footer a {
  margin-bottom: 0;
  color: #9f9f9f;
}

p {
  margin: 0 0 10px 0;
  line-height: 21px;
}

a:hover {
  color: #2a7d2e;
}

.collapse {
  display: none;
}

.mainFooter .collapse {
  display: block;
  visibility: visible;
}

.main-footer {
  padding: 40px 0 30px;
  color: #333333;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-2, .col-md-3, .col-md-4, .col-md-6, .col-md-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-2 {
  float: left;
  width: 16.66666667%;
}

.col-md-3 {
  float: left;
  width: 25%;
}

.col-md-4 {
  float: left;
  width: 33.33333333%;
}

.col-md-6 {
  float: left;
  width: 50%;
}

.col-md-12 {
  float: left;
  width: 100%;
}

.col-20 {
  width: 20%;
}

.footer h4 {
  font-size: 20px;
  letter-spacing: 0.02em;
  margin: 0 0 20px;
  position: relative;
  line-height: 1.4;
}

.footer .footer-content1 {
  margin-bottom: 20px;
}

.logo-footer {
  margin-bottom: 20px;
}

.fade-box {
  position: relative;
}

.logo-footer img {
  max-width: 230px;
}

.footer-content ul {
  margin-bottom: 15px;
}

.footer-content ul li {
  display: block;
  line-height: 28px;
  position: relative;
  padding-left: 0px;
}

.footer-content ul li a {
  position: relative;
  overflow: hidden;
  color: #333333;
}

.footer-contact ul li {
  padding: 0;
}

.footer-contact ul > li {
  padding: 0 0 5px 0;
  line-height: 22px;
  font-size: 14px;
  position: relative;
}

.footer-contact ul > li.contact-1:before {
  content: "\f041";
  top: 15px;
}

.footer-contact ul > li.contact-2:before {
  content: "\f095";
  top: 4px;
}

.footer-contact ul > li.contact-3:before {
  content: "\f1ac";
  top: 4px;
}

.footer-contact ul > li.contact-4:before {
  content: "\f0e0";
  top: 4px;
}

.footer-contact ul > li:before {
  font-family: "FontAwesome" !important;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  position: absolute;
  left: 0;
  font-size: 16px;
}

.footer-contact ul > li span {
  padding: 0 0 0 25px;
  display: inline-block;
}

.fb-iframe-widget {
  display: inline-block;
  position: relative;
}

.footer-static-content .fb-iframe-widget > span {
  width: 100% !important;
}

.fb-iframe-widget span {
  display: inline-block;
  position: relative;
  text-align: justify;
}

.fb-iframe-widget iframe {
  position: absolute;
}

.footer-static-content iframe {
  width: 100% !important;
  position: relative !important;
}

/*footer*/
#send-for-gmail {
  padding: 50px 0;
  background: #fafafa;
}

#send-for-gmail .title {
  margin-bottom: 6px;
  font-size: 30px;
  color: #333;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
}

#send-for-gmail .content {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #919191;
}

#send-for-gmail form .form-group {
  position: relative;
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 15px;
}

#send-for-gmail form .form-group input {
  width: calc(100% - 110px);
  height: 50px;
  line-height: 25px;
  color: #999999;
  padding: 10px 20px;
  border: 1px solid #d4d6d8;
  box-shadow: none;
  outline: none !important;
  transition: initial;
  font-size: 12px;
  border-radius: 2px;
  appearance: none;
  box-shadow: 0 1px rgba(212, 214, 216, 0.25) inset;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#send-for-gmail form .form-group button {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  height: 50px;
  width: 99px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.button.dark {
  color: #fff;
  border-color: #2a7d2e;
}

.button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px 28px;
  line-height: normal;
  border: 1px solid #ffffff;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  color: #333333;
  background-color: #2a7d2e;
}

#section-banner-home {
  margin-top: 100px;
}

.mainContainer-theme .section {
  margin-bottom: 50px;
}

.banner-home-outer .box-service {
  position: relative;
  text-align: center;
}

.banner-home-outer .icon-title {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 2px solid #2a7d2e;
  border-radius: 50%;
  text-align: center;
  background-color: #fff;
  margin: auto;
  transition: 0.8s;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.banner-home-outer .icon-title img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.6s ease-in-out 0s;
  cursor: pointer;
}

.banner-home-outer .box-info {
  padding: 60px 30px 30px;
  border: 1px solid #2a7d2e;
  height: 100%;
}

.banner-home-outer .box-info h3 {
  font-size: 23px;
  font-weight: 600;
}

.banner-home-outer .box-info .content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.wrapper-heading-home {
  padding: 10px 0 30px 0;
  text-align: center;
}

.wrapper-heading-home h2 {
  font-size: 24px;
  line-height: 1.6;
  margin: 0;
  font-weight: bold;
}

.wrapper-heading-home p {
  margin: 0;
}

.pro-loop {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  margin-bottom: 20px;
}

.pro-loop .product-img {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.pro-loop a {
  display: block;
}

.pro-loop .product-img picture {
  transition: all 0.5s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.pro-loop .product-detail {
  padding: 10px 0 0 0;
}

.product-detail .box-pro-detail {
  z-index: 9;
  width: 100%;
}

.pro-loop .product-detail h3 {
  margin: 0 0 5px;
  font-size: 14px;
  position: relative;
}

.pro-loop .product-detail h3 a {
  line-height: 16px;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  color: #333333;
  font-weight: 700;
}

.pro-loop .product-detail h3 a:hover {
  color: #2a7d2e;
}

p.pro-price {
  color: black;
  font-size: 14px;
  margin: 0;
  font-weight: 500;
}

p.pro-price span.contact {
  color: #f94c43;
}

p.pro-price.highlight {
  color: #f94c43;
}

p.pro-price span.pro-price-del {
  color: #939393;
  font-size: 13px;
  margin-left: 5px;
}

.section-banner-about .banner-background-img {
  padding: 180px 0 180px;
}

.banner-background-img.lazyloaded {
  background-image: url(../../images/img-banner-center.jpg);
}

.banner-background-img {
  background: #F6F6F6;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.section-banner-about .content-banner-info .subtitle-top {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}

.section-banner-about .content-banner-info .top-title {
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}

.section-banner-about .content-banner-info .subtitle-bottom {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.section-banner-about .content-banner-info .box-button a {
  background: #fff;
  color: #2a7d2e;
  font-size: 15px;
  padding: 15px 30px;
  border-radius: 50px;
  border: 1px solid #fff;
  transition: all 0.3s ease-in;
  display: inline-block;
  margin-top: 30px;
}

.section-banner-about .content-banner-info .box-button a:hover {
  background: #2a7d2e;
  border-color: #2a7d2e;
  color: #fff;
}

.effectFour {
  position: relative;
}

.collectionImage .collectionGroup {
  position: absolute;
  padding: 12px 20px;
  left: 20px;
  bottom: 20px;
  background: #fff;
  min-width: 150px;
}

.collectionImage h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.collectionImage h4 a {
  font-weight: bold;
  font-size: 16px;
}

.collectionImage .colCount {
  margin-bottom: 0;
  color: #000;
  font-weight: 600;
  font-size: 14px;
}

.section-collection-sales {
  background: #ffffff;
}

.d-flex {
  display: flex;
}

.product-horizontal:nth-child(4n+1) {
  clear: both;
}

.product-horizontal {
  padding: 0;
}

.product-horizontal .pro-loop {
  padding: 5px;
  margin-bottom: 10px;
}

.product-horizontal .pro-loop .product-block .product-img {
  text-align: center;
  display: flex;
  align-items: center;
}

.product-horizontal .pro-loop .product-block .product-img {
  width: 90px;
  border: 0;
}

.pro-loop .product-img picture {
  transition: all 0.5s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.product-horizontal .pro-loop .product-block .product-detail {
  width: calc(100% - 90px);
  padding: 10px 10px 0px 12px;
}

.product-horizontal .pro-loop .product-block .product-detail p.pro-price {
  font-size: 13px;
}

.product-horizontal .pro-loop .product-block .product-detail p.pro-price span.pro-price-del {
  font-size: 11px;
}

#blog-slide {
  width: initial;
}

#section-blog .blogPostImage {
  position: relative;
  overflow: hidden;
}

#section-blog .blogPostImage img {
  transition: all 1s ease-in-out 0s;
  transform: scale(1);
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.blogPostTitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 17px;
  text-transform: uppercase;
  margin: 20px 0 15px;
}

.btnBlogReadMore {
  color: #9f9f9f;
  font-weight: 400;
  font-size: 16px;
  border-bottom: 1px solid #999;
  transition: all 0.2s ease-in;
}

.blogPostShortdesc {
  color: #9f9f9f;
}

#homepage-slider .content-slide {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
}

#homepage-slider .content-slide .slide-btn-content h2 {
  font-size: 60px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 1.2px;
}

#homepage-slider .content-slide .slide-btn-content p {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 1px;
}

#homepage-slider .content-slide .button-content-box a {
  display: inline-block;
  background: #fff;
  color: #2a7d2e;
  font-size: 15px;
  padding: 15px 30px;
  border-radius: 50px;
  border: 1px solid #fff;
  transition: all 0.3s ease-in;
}

#homepage-slider .content-slide .button-content-box a.button-shop:hover {
  background: #2a7d2e;
  border-color: #2a7d2e;
  color: #fff;
}

/* css product */
.breadcrumb-shop {
  background: #F5F5F5;
  margin: 0 0 40px;
}

.breadcrumb-shop .breadcrumb-arrows {
  padding: 10px 0;
  background: transparent;
  border-radius: 0;
  margin: 0;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.breadcrumb-shop .breadcrumb-arrows li {
  font-size: 13px;
}

.breadcrumb > li {
  display: inline-block;
}

.breadcrumb-shop .breadcrumb > li + li:before {
  padding: 0 3px;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/ ";
}

.banner-collection {
  margin-top: -40px;
  margin-bottom: 20px;
}

.wrap-collection-title {
  justify-content: center;
  margin-bottom: 20px;
}

.wrap-collection-title .heading-collection {
  margin: 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterTag {
  display: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  line-height: 1.2;
  cursor: pointer;
}

.filterTag i {
  margin: 0 10px 0 0;
  font-size: 18px;
}

.filterTag span {
  font-weight: bold;
}

.wrap-collection-title .heading-collection h1 {
  font-size: 27px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.collection-sort .sortby-option {
  position: relative;
  width: 180px;
  float: right;
}

.collection-sort .sortby-option:after {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  right: 15px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7px 6px 0 6px;
  border-color: #bababa transparent transparent transparent;
}

.collection-sort .sortby-option .label-tt {
  display: block;
  font-size: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  width: 35px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.collection-sort .sortby-option select.custom-dropdown {
  height: 30px;
  line-height: 28px;
  width: 100%;
  font-size: 12px;
  color: #676767;
  padding: 0px 40px 0px 35px;
  outline: none;
  border: 1px solid #e7e7e7;
  background: #fafafa;
  appearance: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: none;
}

#pagination {
  margin: 30px 0 50px 0;
}

.list-productRelated h2, .list-productReview h2 {
  text-transform: uppercase;
  margin: 50px 0;
}

/*# sourceMappingURL=style.css.map */
#layout-cart .heading-page {
  position: relative;
  text-align: center;
  padding: 0 0 30px 0;
}
#layout-cart .heading-page h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 10px;
}
#layout-cart .heading-page:after {
  content: "";
  background: #252a2b;
  display: block;
  width: 60px;
  height: 4px;
  margin: 10px auto 0;
}
#layout-cart .title-number-cart {
  background: #fafafa;
  padding: 10px 15px;
}
#layout-cart .title-number-cart p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
#layout-cart .count-cart span {
  font-weight: bold;
}
#layout-cart .product_image {
  text-align: left;
}

.wrapbox-content-cart {
  margin: 0 0 30px 0;
}

table.table-cart {
  margin-bottom: 30px;
}
table.table-cart thead {
  display: none;
}
table.table-cart tr td {
  padding: 20px 0;
  border-top: 1px solid #ededed;
  vertical-align: top;
}
table.table-cart tr td.image {
  text-align: center;
  width: 110px;
  padding-left: 0;
}
table.table-cart tr td.image img {
  max-width: 100px;
}
table.table-cart tr td.item {
  padding-left: 15px;
}
table.table-cart tr td.item h3 {
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: bold;
  display: inline;
}
table.table-cart tr td.item p {
  margin-bottom: 5px;
}
table.table-cart tr td.item p del {
  font-size: 12px;
}
table.table-cart tr td.item .variant {
  margin-bottom: 5px;
}
table.table-cart tr td.item .price {
  margin: 0;
  float: right;
}
table.table-cart tr td.item .price span {
  font-size: 16px;
  padding-right: 0;
  font-weight: 500;
}
table.table-cart tr td.item .price span.text {
  display: none;
}
table.table-cart tr td.remove {
  text-align: center;
}
table.table-cart tr:first-child td {
  border-top: 0;
}
table tr td, table tr th {
  padding: 10px;
  text-align: left;
}
table tr td:first-child, table tr th:first-child {
  padding-left: 0;
}

.qty-click {
  float: left;
}
.qty-click button.qty-btn {
  background: #fff;
  font-weight: 500;
  font-size: 14px;
  color: #abafb2;
  height: 25px;
  padding: 0;
  text-align: center;
  width: 25px;
  border: 1px solid #dadbdd;
  border-radius: 0;
  float: left;
}
.qty-click input.item-quantity {
  background: #ededed;
  font-weight: 500;
  font-size: 15px;
  height: 25px;
  padding: 0;
  text-align: center;
  width: 35px;
  border: 1px solid #dadbdd;
  border-left: none;
  border-right: none;
  border-radius: 0;
  float: left;
}

.product-detail-main {
  margin-bottom: 40px;
}

.product-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
}

.product-price {
  padding: 10px 0;
}

#price-preview, #price-preview-quickview {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.product-price span.pro-sale {
  display: inline-block;
  padding: 5px 15px;
  margin-right: 10px;
  background: #ededed;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: #f94c43;
}

.product-price span.pro-price {
  font-size: 18px;
  opacity: 0.92;
  font-weight: bold;
  color: red;
}

.product-price del {
  font-size: 14px;
  color: #777a7b;
  padding-left: 10px;
  font-weight: 500;
}

.select-swatch .swatch {
  padding: 10px 0;
  width: 100%;
  float: left;
}

.swatch .header-swatch {
  font-size: 14px;
  font-weight: bold;
  color: black;
  display: inline-block;
}

.swatch .select-swap {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin: 12px 0;
}

.swatch .swatch-element {
  display: inline-block;
  margin-right: 8px;
  position: relative;
  vertical-align: bottom;
}

.swatch .swatch-element:not(.color) {
  margin-right: 30px;
}

.swatch input {
  display: none;
}

.swatch input {
  display: none;
}

.swatch .swatch-element label {
  position: relative;
  cursor: pointer;
  float: left;
  margin: 0;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  white-space: nowrap;
  text-transform: uppercase;
}

.swatch .swatch-element:not(.color) label:before {
  width: 17px;
  height: 17px;
  border: 1px solid #ccc;
  display: inline-block;
  margin-right: 5px;
  content: "";
  border-radius: 50%;
  margin-bottom: -4px;
}

.swatch .swatch-element:not(.color) label.sd:before {
  background: #000;
  border-color: #000;
}

.swatch .swatch-element:not(.color) label:after {
  content: "\f00c";
  font-family: "FontAwesome" !important;
  position: absolute;
  top: 0;
  left: 3px;
  font-size: 10px;
  color: #fff;
  display: none;
  z-index: 2;
  -webkit-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.swatch .swatch-element:not(.color) label.sd:after {
  display: block;
}

.selector-actions {
  width: 100%;
  float: left;
  margin-top: 15px;
}

.quantity-area {
  margin-bottom: 15px;
  width: 134px;
  float: left;
}

.quantity-area input.qty-btn {
  background: #fff;
  float: left;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  outline: none;
  height: 49px;
  width: 32px;
  text-align: center;
  border-radius: 0;
  font-size: 20px;
  color: black;
}

.quantity-area input.btn-left-quantity {
  border-right: none;
}

.quantity-area input.btn-right-quantity {
  border-left: none;
}

.quantity-area input#quantity, .quantity-area input#quantity_quickview {
  background: #fff;
  font-weight: 600;
  height: 49px;
  padding: 0;
  text-align: center;
  width: 70px;
  border: 1px solid #e1e1e1;
  border-left: none;
  border-right: none;
  border-radius: 0;
  float: left;
  font-size: 20px;
  color: black;
}

.wrap-addcart {
  width: calc(100% - 134px);
  width: -webkit-calc(100% - 134px);
  width: -moz-calc(100% - 134px);
  float: -o-left;
  padding-left: 15px;
  float: left;
}

button.btn-addtocart {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: none;
  padding: 14px 35px;
  line-height: 22px;
  width: 100%;
  height: 49px;
}

.button.drakpay {
  color: #fff;
  border-color: #d61114;
  background-color: #d61114;
}

.product-title {
  padding: 0 0 10px;
  border-bottom: 1px dotted #dfe0e1;
}

.product-title h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 5px;
  line-height: initial;
}

.product-description {
  margin: 20px 0;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs {
  border-bottom: 1px solid #e1e1e1;
}

.nav > li {
  position: relative;
  display: block;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.proDetailInfo .velaProductNavTabs li {
  padding: 0;
  display: inline-block;
  float: none;
}

.proDetailInfo .velaProductNavTabs li:not(:last-child) {
  margin-right: 30px;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.proDetailInfo .velaProductNavTabs li a {
  font-size: 14px;
  color: #000;
  position: relative;
  padding: 5px 0 10px;
  margin: 0;
  border: 0;
  font-weight: 600;
  text-transform: uppercase;
}

.proDetailInfo .velaProductNavTabs li.active a {
  color: #888;
  border: none;
}

.proDetailInfo .velaProductNavTabs li a:before {
  content: "";
  width: 100%;
  height: 1px;
  background: transparent;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}

.proDetailInfo .velaProductNavTabs li.active a:before {
  background-color: #888;
}

.proDetailInfo .tab-content {
  padding: 30px 0 0 0;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.wrapper-collection-1 .fixheight {
  height: 283px;
}
@media screen and (min-width: 768px) {
  .col-sm-4 {
    float: left;
    width: 33.3333333333%;
  }
  table.table-cart tr td.remove {
    position: absolute;
    right: 15px;
  }
}
@media screen and (min-width: 992px) {
  .site-menu-mobile {
    display: none;
  }
  .search-bar-mobile {
    display: none;
  }
  .col-20 {
    width: 20%;
  }
}
@media screen and (max-width: 1199px) {
  .container-fluid {
    max-width: 1500px;
    padding: 0 15px;
  }
  .nav-main-menu .main-nav > ul > li > a {
    font-size: 14px;
  }
  .wrapper-collection-1 .fixheight {
    height: 228px;
  }
}
@media screen and (max-width: 991px) {
  .top-bar {
    padding: 5px 0;
    font-size: 12px;
  }
  .site-menu-desktop {
    display: none;
  }
  .header-middle {
    padding: 12px 0;
  }
  .header-wrap-icon .search {
    display: none;
    margin: 0;
  }
  .header-wrap-icon .account {
    margin: 0;
  }
  #homepage-slider .content-slide {
    top: 20%;
  }
  #homepage-slider .content-slide .slide-btn-content h2 {
    font-size: 38px;
  }
  #homepage-slider .content-slide .slide-btn-content p {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }
  #homepage-slider .content-slide .button-content-box a {
    padding: 12px 20px;
  }
  .banner-home-outer .icon-title {
    top: -40px;
    width: 80px;
    height: 80px;
  }
  .banner-home-outer .box-info {
    padding: 55px 15px 30px;
  }
  .banner-home-outer .box-info h3 {
    font-size: 18px;
  }
  .banner-home-outer .box-info .content {
    font-size: 15px;
  }
  .section-banner-about .banner-background-img {
    padding: 100px 0;
  }
  .section-banner-about .content-banner-info .top-title {
    font-size: 45px;
  }
  .main-header .flexContainer .header-mid {
    padding: 0;
  }
  .main-header .flexContainer .header-mid .wrap-logo {
    text-align: center;
  }
  .rowFlexMargin .col-sm-6:nth-child(odd) {
    padding-right: 7.5px;
    padding-bottom: 15px;
  }
  .rowFlexMargin .col-sm-6:nth-child(even) {
    padding-left: 7.5px;
    padding-bottom: 15px;
  }
  .col-sm-6 {
    float: left;
    width: 50%;
  }
  footer.footer .col-lg:nth-of-type(2n+1) {
    clear: both;
  }
  #send-for-gmail .title {
    font-size: 25px;
  }
  .wrapper-collection-1 .fixheight {
    height: 279px;
  }
}
@media screen and (max-width: 767px) {
  .mainContainer-theme .section[class*=section-] {
    margin-bottom: 30px;
  }
  .banner-home-outer .col-xs-12 {
    float: left;
    width: 100%;
  }
  .section-banner-about .content-banner-info .top-title {
    font-size: 30px;
  }
  .section-banner-about .content-banner-info .subtitle-bottom {
    font-size: 18px;
  }
  .section-banner-about .content-banner-info .box-button a {
    padding: 10px 20px;
    margin-top: 15px;
  }
  .wrapper-collection-1 .col-xs-6 {
    float: left;
    width: 50%;
  }
  .main-header .wrap-logo h1, .main-header .wrap-logo a {
    font-size: 26px;
  }
  #homepage-slider .content-slide .slide-btn-content h2 {
    font-size: 25px;
  }
  #homepage-slider .content-slide .slide-btn-content p {
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 14px;
  }
  #homepage-slider .content-slide .button-content-box a {
    padding: 10px 15px;
  }
  .banner-home-outer .box-service:not(:first-child) {
    margin-top: 78px;
  }
  .banner-home-outer .box-service .icon-title {
    top: -50px;
    width: 100px;
    height: 100px;
  }
  .banner-home-outer .box-service .box-info {
    padding: 60px 15px 45px;
  }
  .banner-home-outer .box-service .box-info h3 {
    font-size: 23px;
    font-weight: 600;
  }
  .banner-home-outer .box-service .box-info .content {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.2px;
  }
  .wrapper-heading-home h2 {
    font-size: 28px;
  }
  .wrapper-collection-1 .fixheight {
    height: 238px;
  }
  .pro-loop {
    margin-bottom: 15px;
  }
  .pro-loop .product-detail {
    padding: 5px 0 0 0;
  }
  #section-collection-home .pro-loop:nth-child(odd) {
    padding-right: 7.5px;
  }
  #section-collection-home .pro-loop:nth-child(even) {
    padding-left: 7.5px;
  }
  .col-xs-12 {
    float: left;
    width: 100%;
  }
}
@media screen and (max-width: 424px) {
  .wrapper-collection-1 .fixheight {
    height: 213px;
  }
}
@media screen and (max-width: 374px) {
  .wrapper-collection-1 .fixheight {
    height: 186px;
  }
  .main-header-template-01 .flexContainer .header-logo {
    min-width: 140px;
  }
  .col-12 {
    float: left;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
